<div id="listContainer">
    <img src="<%= recipe.img_url %>" alt="" id="img">
<h1 id="name"><%= recipe.name %></h1>
<p id="list">Description: <%= recipe.description %></p>
<p id="list">Yields: <%= recipe.yields %></p>
<p id="list">Prep-Time: <%= recipe.prepTime %></p>
<p id="list">Cook-Time: <%= recipe.cookTime %></p>
<p id="list">Total-time: <%= recipe.totalTime %></p>
<p id="list">Serves: <%= recipe.servings %></p>
<ul id="list">
    <% recipe.ingredients.forEach(function(recipe, index) { %>
        <li class="list"><%= recipe %></li>
     <% }); %>
</ul>
<ol id="list">
    <% recipe.instructions.forEach(function(recipe, index) { %>
        <li class="list"><%= recipe %></li>
        <% }); %>
</ol>
    <ul id="list">
        <% notes.forEach(function(note, index) { %>
            <li class="list"><%= note %></li>
            <% }); %>
    </ul>
    <a href="/notes/edit/<%= recipe.id %>" id="navlink" id="bttn">Edit</a>
  
<form action="/notes/<%= recipe.id %>?_method=PUT" method="POST" class="noteCon">
    <textarea name="notes" id="" cols="60" rows="5" class="note"></textarea>
    <input id="bttn" type="submit" value="Add Note" class="note">
</form>
</div>
