<h3><%= recipe.name %></h3>
<p id="list">Description: <%= recipe.description %></p>
<p id="list">Yields: <%= recipe.yields %></p>
<p id="list">Prep-Time: <%= recipe.prepTime %></p>
<p id="list">Cook-Time: <%= recipe.cookTime %></p>
<p id="list">Total-time: <%= recipe.totalTime %></p>
<p id="list">Serves: <%= recipe.servings %></p>
<ul id="list">
    <% recipe.ingredients.forEach(function(recipe, index) { %>
        <li class="list"><%= recipe %></li>
     <% }); %>
</ul>
<ol id="list">
    <% recipe.instructions.forEach(function(recipe, index) { %>
        <li class="list"><%= recipe %></li>
        <% }); %>
    </ol>
<form method="POST" action="/notes/<%= recipe.id %>/?_method=DELETE">
    <ul id="list">
        <% notes.forEach(function(note, index) { %>
            <li class="list"><%= note %></li>
            <% }); %>
    </ul>
    <input type="submit" value="Delete" id="bttn" class="bttn">
</form>
  
<form action="/notes/<%= recipe.id %>?_method=PUT" method="POST">
    <textarea name="notes" id="" cols="60" rows="5"></textarea>
    <input type="submit" value="Add Note">
</form>

<img src="<%= recipe.img_url %>" alt="" class="img">
