<div id="listContainer">
    <img src="<%= recipe.img_url %>" alt="" id="img">
    <h1 id="name"><%= recipe.name %></h1>
    <form method="POST" action="/recipe/<%= recipe.id %> ">
        <button id="bttn" type="submit" value="<%= recipe.id %>" name="addrecipe">Add to your Box</button>
     </form>
<p id="list">Description: <%= recipe.description %></p>
<p id="list">Yields: <%= recipe.yields %></p>
<p id="list">Prep-Time: <%= recipe.prepTime %></p>
<p id="list">Cook-Time: <%= recipe.cookTime %></p>
<p id="list">Total-time: <%= recipe.totalTime %></p>
<p id="list">Serves: <%= recipe.servings %></p>



</div>
